		<nav class="navbar">
		    <ul class="nav navbar-nav">
	      		<li class="active"><a ui-sref="home">Home</a></li>
		      
			    <li class="dropdown">
			      	<a ui-sref="pase">Pase Meeting</a>
			        <!-- <ul class="dropdown-menu">
			          <li><a ui-sref="createpase">Create Schedule</a></li>
			          <li><a ui-sref="viewpase">View Schedule</a></li>
			          
			        </ul> -->
			    </li>

			    <li class="dropdown">
			    	<a ui-sref="open">Open Meeting</a>	
			      	<!-- <a ui-sref="open" class="dropdown-toggle" data-toggle="dropdown">Open Meeting <span class="caret"> </span></a> -->
					<!-- <ul class="dropdown-menu">
							          		<li><a ui-sref="createopen">Create Pin winners</a></li>
							          		<li><a ui-sref="viewopen">View Pin Winners</a></li>
							        	</ul> -->
			    </li>

		     	<li class="dropdown">
		      		<a ui-sref="trip">Trips Details <!-- <span class="caret"></span> --></a>
					<!-- <ul class="dropdown-menu">
								          <li><a ui-sref="uk">UK</a></li>
								          <li><a ui-sref="australia">Australia</a></li>
								          <li><a ui-sref="india">India</a></li>
								          <li><a ui-sref="mexico">Mexico</a></li>
							        	</ul> -->
		      	</li>

		      <li><a ui-sref="contact">Contact Us</a></li>

		      <li><a ui-sref="about">About Us</a></li> 

		    </ul>
		</nav>