<div>
<h1 class="">{{welcomemsg}}</h1>

<div class="textAlignCenter"> <img ng-src="images/Tatipamula.jpg"> </div><br/><br/>

<p><b>Curiosity and support help build an international business</b> – “The only reason I went to a meeting about the a business opportunity was because I was curious,” admits Vidya Tatipamula. “All the IBOs I met were professionals with good careers, so it intrigued me why they would build it.”
</p>

<p>Although he was looking for an additional source of income outside of his database administration job, Vidya just couldn’t see himself building a network marketing business. “I’m an introvert, not an outgoing person or a people person,” he says.</p>

<p>What he didn’t anticipate was Rama’s enthusiasm for starting an AMWAY business.</p>

<p>“I was very excited!” she says. However, both admit they had a lot of challenges to work through, such as Vidya’s shyness, the fact that neither of them had any experience in business or retailing, and their lack of a network. “Since we’d just arrived from India, we didn’t know a lot of people here,” she explains.</p>

<p>“It wasn’t easy and it took time. But, thanks to our upline’s incredible support, we were able to learn the skills needed and overcome those challenges,” Vidya replies.</p>

<p>Rama says they find the motivation to keep moving forward from the look of hope in new IBOs’ eyes. “The prospect of leaving our jobs also motivates us,” Vidya says, smiling.</p>

<p>“We want to be able to spend more time together and with our boys, Rohith (15) and Mayukh (8),” she explains. “We also want to help people here and back home in India, where we’re expanding our business,” Vidya adds.</p>

<p>Keeping tabs on their international business has never been easier.</p>

<p>“We’re impressed with how Amway’s taking advantage of the current technology, especially social networking,” he says. “Facebook®, QR codes on catalogs, videos on YouTube® – they’ve all added incredible value to our business. We can keep in touch with our customers and team, and run our business right from the palm of our hand.”</p>

</div>