<div class="createpase">
	<form>
		<table>
			<thead>
				<h2>Welcome to PASE Schedule </h2>
			</thead>
			<tbody>
				<tr>
					<td>Product 1 Speaker:</td>
					<td><input type="text" name=""></td>
				</tr>

				<tr>
					<td>Product 2 Speaker:</td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td>Product 3 Speaker:</td>
					<td><input type="text" name=""></td>
				</tr>

				<tr>
					<td>CD 1 Speaker:</td>
					<td><input type="text" name=""></td>
				</tr>
				<tr>
					<td>CD 2 Speaker:</td>
					<td><input type="text" name=""></td>
				</tr>

				<tr>
					<td>Book Speaker:</td>
					<td><input type="text" name=""></td>
				</tr>

				<tr>
					<td>System topic Speaker:</td>
					<td><input type="text" name=""></td>
				</tr>

				<tr>
					<td>Wrap up Speaker:</td>
					<td><input type="text" name=""></td>
				</tr>

			</tbody>
		</table>
	</form>
</div>